/* myStyle.css */

body {
    font-family: josefin sans;
    text-align: center; 
    margin-left: 160px;
    background-color: #452935;
    
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: josefin sans;
    font-size: 25px;
    color: white;
    display: block;
    text-align: left;
}

.sidenav a:hover {
    color: #818181;
}

header {
        text-align: center;
        background: url(https://static1.visitestonia.com/images/2890339/Estonian_forest_reasons_to_visit_Sven_Zacek.jpg);
        background-size: cover;
        color: white;
        margin-top: -30px;
      
      }

h1 {
    text-align: center;
    font-family: josefin sans;
    font-size: 50px;
    margin-top: 10px;
    color: #2e4c7c;
    padding: 0px 0px;
}

h2 {
    text-align: center;
    font-family: josefin sans;
    font-size: 40px;
    margin-top: 10px;
    color: #2e4c7c;
    padding: 0px 0px;
}

h3 {
    text-align: center;
    font-family: josefin sans;
    font-size: 35px;
    margin-top: 10px;
    color: #2e4c7c;
    padding: 0px 0px;
}

p {
    text-align: center;
    font-family: josefin sans;
    font-size: 20px;
    margin-top: -15px;
    color: #00000;
    padding: 0px;
}

.paragraaf1 {
    margin-left: 15%;
    margin-right: 15%;
}

.homepf {
  margin: 40px 0px 40px 0px;
  border: 7.5px solid white;
  border-radius: 90px;
  max-width: 25%;

}

.timskat {
  margin: 40px 0px 40px 0px;
  border-radius: 90px;
  max-width: 40%;
  max-height: 40%;
}
 
.janikshond {
  margin: 40px 0px 40px 0px;
  border-radius: 90px;
  max-width: 40%;
  max-height: 40%;
}
    
.cat1 {
   position: relative;
   width: 50%;
   margin-bottom: 10px;
}

.cat2 {
   max-width: 50%;
   max-height: 50%;
}


.konijn1 {
   max-width: 50%;
   max-height: 50%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
table {
    border-spacing: 5px;
}

th {
  text-align: left;
}

.vis1 {
   float: right;
   max-width: 300px;
    max-height: 300px;
}
    
.bird1 {
   float: left;
   max-width: 300px;
   max-height: 300px;
   margin-right: 10px;
   margin-bottom: 10px;
}

.bird2 {
   float: right;
   max-width: 300px;
   max-height: 300px;
   margin-left: 10px;
   margin-bottom: 10px;
}

.bird3 {
   max-width: 65%;
   max-height: 65%;
}
    
.dieren1 {
   max-width: 100%;
   max-height: 100%;
   
}
    
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0;
  border-radius:  0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

